<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <app-profile
      *ngFor="let profile of profiles"
      [src]="profile.src"
      [alt]="profile.alt"
      [name]="profile.name"
    >
    </app-profile> -->
    <app-color-box></app-color-box>
    <!-- <app-profile
      src=""
      alt=""
      name=""
    ></app-profile>
    <app-profile
      src=""
      alt=""
      name=""
    ></app-profile> -->
  </body>
</html>
